/* Estilos para la sección de contacto */

*
.contacto {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contacto h2 {
    font-size: 36px;
    color: #3d7bb6;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#contacto p {
    font-size: 24px;
    color: #555;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

#contacto a {
    color: #3d7bb6;
    text-decoration: none;
}

#contacto a:hover {
    text-decoration: underline;
}

#contacto button {
    background-color: #3d7bb6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contacto button:hover {
    background-color: #265b90;
}

.email {
    font-size: 18px; /* Tamaño de fuente deseado */
    color: #555; /* Color de texto */
    margin-top: 5px; /* Espacio superior */
}


send-email {
    display: inline-block;
    margin-left: 10px; /* Ajusta el espaciado entre el correo electrónico y el botón */
}